<li id="widget-{{ counter }}" data-counter="{{ counter }}" class="widget-test" data-settings="{{ settings | tojson | forceescape }}" style="{% filter replace('\n', ' ') %}{% block widget_style %}{% endblock %}{% endfilter %}">
    {% if edit %}
        <div class="widget-icons">
            <span class="ui-icon ui-icon-arrow-4"></span>
            <span class="ui-icon ui-icon-trash"></span>
            <span class="ui-icon ui-icon-copy"></span>
        </div>
        {% if settings.empty %}
            <span class="empty-widget-message">
                Click to start the widget customization!
            </span>
        {% endif %}
    {% endif %}

    {%- assets filters='rjsmin', output='assets/edit-widget.js', 'js/edit-widget.js' %}
        <script src="{{ ASSET_URL|version_url }}"></script>
    {%- endassets %}

    <script>
        var widget = $('#widget-{{ counter }}');
        bindWidget(widget);
    </script>

    {% block widget_content %}{% endblock %}
</li>