<li class="widget-test" data-settings="{{ settings | tojson | forceescape }}" style="{% filter replace('\n', ' ') %}{% block widget_style %}{% endblock %}{% endfilter %}">
    {% if edit %}
        <div class="widget-icons">
            <span class="ui-icon ui-icon-arrow-4"></span>
            <span class="ui-icon ui-icon-trash"></span>
            <span class="ui-icon ui-icon-copy"></span>
        </div>
    {% endif %}
    {% if settings | length == 1 %}
        <span class="empty-widget-message">
            Click here to start the widget customization!
        </span>
    {% endif %}
    {% block widget_content %}{% endblock %}
</li>