{% extends 'widgets/_widget.html' %}

{% block widget_classes -%}
    box-widget
{%- endblock %}

{% block widget_content_classes -%}
    {% if settings.empty %}
        empty-widget
    {% else %}
        {% if settings.style.border %}
            bordered
        {% endif %}
    {% endif %}
{%- endblock %}

{% block widget_style -%}
    {% if not settings.empty %}
        background-color: {{ settings.style.color }};
    {% endif %}
{%- endblock %}

{% block widget_content %}

    {% if not settings.empty %}
        {% if settings.style.title %}
            <h1 class="box-title">{{ settings.style.title }}</h1>
        {% endif %}
        <div class="box-content">
            {{ settings.render_content }}
        </div>
    {% endif %}

{% endblock %}

{% block widget_dialog_body %}

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#content-pane-{{ counter }}" role="tab" data-toggle="tab">Content</a></li>
        <li><a href="#style-pane-{{ counter }}" role="tab" data-toggle="tab">Style</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active container-fluid" id="content-pane-{{ counter }}">
            <div class="row">
                <div class="col-md-12">
                    <textarea id="content-{{ counter }}" rows="18" cols="55" class="we-widget-content form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="tab-pane fade container-fluid" id="style-pane-{{ counter }}">
            <div class="row">
                <div class="col-md-2">
                    <label for="title-{{ counter }}">Title</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="title-{{ counter }}" class="we-widget-title form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="color-{{ counter }}">Background color</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="color-{{ counter }}" class="we-widget-color form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="border-{{ counter }}">Border</label>
                </div>
                <div class="col-md-2">
                    <input type="checkbox" id="border-{{ counter }}" class="we-widget-border">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
