{% extends 'widgets/_widget.html' %}

{% block widget_classes -%}
    box-widget
    {% if settings.empty %}
        empty-widget
    {% else %}
        {% if settings.style.border %}
            bordered
        {% endif %}
    {% endif %}
{%- endblock %}

{% block widget_style -%}
    {% if not settings.empty %}
        background-color: {{ settings.style.color }};
    {% endif %}
{%- endblock %}

{% block widget_content %}

    {% if not settings.empty %}
        {% if settings.style.title %}
            <h1 class="box-title">{{ settings.style.title }}</h1>
        {% endif %}
        <div class="box-content">
            {{ settings.render_content }}
        </div>
    {% endif %}

{% endblock %}

{% block widget_dialog_body %}

    <div class="row">
        <div class="col-md-2">
            <label for="title-{{ counter }}">Title</label>
        </div>
        <div class="col-md-6">
            <input type="text" id="title-{{ counter }}" class="we-widget-title form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="color-{{ counter }}">Background color</label>
        </div>
        <div class="col-md-6">
            <input type="text" id="color-{{ counter }}" class="we-widget-color form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="border-{{ counter }}">Border</label>
        </div>
        <div class="col-md-2">
            <input type="checkbox" id="border-{{ counter }}" class="we-widget-border">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="content-{{ counter }}">Content</label>
        </div>
        <div class="col-md-12">
            <textarea id="content-{{ counter }}" rows="12" cols="55" class="we-widget-content form-control"></textarea>
        </div>
    </div>

{% endblock %}
