{% extends 'widgets/_widget.html' %}

{% block widget_classes -%}
    people-widget
    {% if settings.empty %}
        empty-widget
    {% endif %}
{%- endblock %}

{% block widget_content %}

    {% if not settings.empty %}

    {% endif %}

{% endblock %}

{% block widget_dialog_body %}

    <div class="row">
        <div class="col-md-2">
            <label for="style" class="control-label input-group">Style</label>
        </div>
        <div class="col-md-6">
            <div class="we-radio btn-group" data-toggle="buttons">
                <label class="we-list-opt btn btn-default active">
                    <input type="radio" name="style" value="list">List
                </label>
                <label class="we-carousel-opt btn btn-default">
                    <input type="radio" name="style" value="carousel">Carousel
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="select-{{ counter }}">People</label>
        </div>
        <div class="col-md-6">
            <div id="select-{{ counter }}" class="we-select btn-group dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Speakers
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Speakers</a></li>
                    <li><a href="#">Authors</a></li>
                </ul>
                <input class="we-people-type" type="hidden" value="speakers">
            </div>
        </div>
    </div>

{% endblock %}
