{% extends 'widgets/_widget.html' %}

{% block widget_style -%}
    {% if not settings.content %}
        background: url('http://www.risk.net/IMG/315/86315/people-outline.jpg') repeat center;
        background-size: auto 100%;
    {% endif %}
{%- endblock %}

{% block widget_content %}

    {% if not settings.empty %}

        

    {% endif %}

    {% if edit %}
        <div class="modal fade" id="style-dialog-{{ counter }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Style and content customization</h4>
                    </div>
                    <div class="modal-body container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="style" class="control-label input-group">Style</label>
                            </div>
                            <div class="col-md-6">
                                <div id="radio-{{ counter }}" class="btn-group" data-toggle="buttons">
                                    <label id="list-opt-{{ counter }}" class="btn btn-default active">
                                        <input type="radio" name="style" value="List">List
                                    </label>
                                    <label id="carousel-opt-{{ counter }}" class="btn btn-default">
                                        <input type="radio" name="style" value="Carousel">Carousel
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="select-{{ counter }}">People</label>
                            </div>
                            <div class="col-md-6">
                                <div id="select-{{ counter }}" class="btn-group dropdown">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                      Speakers
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Speakers</a></li>
                                        <li><a href="#">Authors</a></li>
                                    </ul>
                                    <input type="hidden" value="Speakers">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary save-button">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <script>

            $(document).ready(function() {
                "use strict";

                var styleDialog = $('#style-dialog-{{ counter }}');
                var save = styleDialog.find('.save-button');
                var widget = styleDialog.parent('.widget-test');
                var settings = widget.data('settings');
                var radio = $('#radio-{{ counter }}');
                var select = $('#select-{{ counter }}');
                var listOpt = $('#list-opt-{{ counter }}');
                var carouselOpt = $('#carousel-opt-{{ counter }}');

                styleDialog.detach().appendTo('body');

                save.on('click', function(){
                    settings['style'] = {
                        type: radio.find('.active input').val()
                    };
                    settings['content'] = {
                        type: select.children('input').val()
                    }
                    settings['empty'] = false;
                    updateWidget(widget, settings);
                    styleDialog.trigger("hidden.bs.modal");
                });

                styleDialog.on('hidden.bs.modal', function() {
                    styleDialog.modal('hide');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                });

                styleDialog.modal({
                    show: false
                });

                widget.on('click', function(){
                    if (settings['style'] != undefined) {
                        if (settings['style']['type'] == 'List' || settings['style']['type'] == undefined) {
                            listOpt.trigger('click');
                        } else {
                            carouselOpt.trigger('click');
                        }
                    }
                    if (settings['content'] != undefined) {
                        var type = settings['content']['type'] || 'Speakers';
                        select.find('li a').each(function(){
                            var $this = $(this);
                            if (type == $this.text()) {
                                $this.trigger('click');
                            }
                        });
                    }
                    styleDialog.modal('show');
                });

                select.find('li a').on('click', function(e){
                    e.preventDefault();
                    var $this = $(this);
                    var selText = $this.text();
                    var dropup = $this.parents('.dropdown');
                    dropup.find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
                    dropup.find('input').val(selText);
                });

            });

        </script>
    {% endif %}

{% endblock %}
