<!DOCTYPE html>
<html>
    <head>
        <title>Conference customization - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta charset="UTF-8">
        {% block meta %}{% endblock %}

        {%- assets filters='pyscss,cssmin,cssrewrite', output='assets/bundle.css', 'css/main.scss', 'css/jquery-ui.css' %}
            <link href="{{ ASSET_URL|version_url }}" rel="stylesheet">
        {%- endassets %}
    </head>
    <body>
        <div class="clearfix">
            {% block content %}{% endblock %}
        </div>

        {%- assets filters='rjsmin', output='assets/bundle.js', 'js/jquery.js', 'js/main.js', 'js/angular.js', 'js/jquery-ui.js' %}
            <script src="{{ ASSET_URL|version_url }}"></script>
        {%- endassets %}
        {% block body_end %}{% endblock %}
    </body>
</html>
