{% extends '_page.html' %}

{% block title %}Layout modification{% endblock %}

{% block assets %}
    {%- assets filters='rjsmin', output='assets/edit.js', 'js/edit.js', 'js/typeahead.bundle.js', 'js/twig.js', 'js/jquery.form.js' %}
        <script src="{{ ASSET_URL|version_url }}"></script>
    {%- endassets %}
{% endblock %}

{% block navbars %}
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-edit">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Toolbar</span>
            </div>
            <div id="navbar-collapse-edit" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <button id="show-layout" type="button" class="btn btn-default show-layout-button" data-toggle="button">Show/hide layout</button>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="btn-group">
                            <button id="save" type="button" class="btn btn-default" data-url="{{ url_for('.update', id=page_id) }}">Save</button>
                            <button id="discard" type="button" class="btn btn-default">Discard changes</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content_end %}
    <div class="elements-bar">
        <div class="block-section">
            <div class="section-header">Blocks</div>
            <div class="element-stubs">
                <img class="element-stub block-stub" src="/static/img/icon_19113.png" title="Title" data-type="title"></img>
                <img class="element-stub block-stub" src="/static/img/icon_18043.png" title="2 columns" data-type="twoColumns"></img>
                <img class="element-stub block-stub" src="/static/img/icon_18042.png" title="3 columns" data-type="threeColumns"></img>
                <img class="element-stub block-stub" src="/static/img/icon_50408.png" title="Horizontal" data-type="horizontal"></img>
            </div>
        </div>
        <div class="widget-section">
            <div class="section-header">Widgets</div>
            <div class="element-stubs">
                <img class="element-stub widget-stub" src="/static/img/icon_16320.png" title="Text Box" data-type="box"></img>
                <img class="element-stub widget-stub" src="/static/img/icon_8191.png" title="Location" data-type="location"></img>
                <img class="element-stub widget-stub" src="/static/img/icon_45483.png" title="People" data-type="people"></img>
                <img class="element-stub widget-stub" src="/static/img/icon_16459.png" title="Image" data-type="image"></img>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_end %}
    <div id="container-dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Style customization</h4>
                </div>
                <div class="modal-body container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="container-title">Title</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="container-title" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="container-border">Border</label>
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" id="container-border">
                        </div>
                    </div>
                    <hr>
                    <input class="we-background-path" type="hidden">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Background</h4>
                        </div>
                    </div>
                    <div class="row we-background-preview">
                        <div class="col-md-2">
                            <label>Preview</label>
                        </div>
                        <div class="we-background-container col-md-3">
                            <div class="we-background">
                                <span class="we-remove-background-button glyphicon glyphicon-remove" title="Remove background"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Upload</label>
                        </div>
                        <div class="col-md-6">
                            <form id="background-form" action="{{ url_for('.upload') }}" method="post">
                                <input type="file" name="file" class="we-background-file">
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Url</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="we-background-url form-control">
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="we-load-background-button btn btn-default">Load</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="container-dialog-close" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="container-dialog-save" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
