{% extends '_layout.html' %}

{% block title %}Layout modification{% endblock %}

{% block content -%}

    <div class="page-header">
        <h1>Layout modification</h1>

        <div>
            <a href="{{ url_for('.view', id=page_id) }}">Page view</a>
        </div>
    </div>

    <div class="modification-toolbar">
        <div class="widget-button">
            <button type="button">Add widget to column</button>
            <select>
                {% for col in range(0, cols) %}
                    <option>{{ col }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="add-column-button">
            <button type="button">Add column</button>
        </div>
        <div class="save-discard-buttons">
            <div>
                <button type="button">Save</button>
            </div>
            <div>
                <button type="button">Discard changes</button>
            </div>
        </div>
    </div>

    <div id="main-container" class="main-container">
        <ul class="main-list">
            {% for col in range(0, cols) %}
                <li id="column-{{ col }}-container" class="column-container">
                    <ul class="column-list"></ul>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="dialog-form" title="Customize the style!">
      <form id="actual-form">
        <fieldset>
          <label for="color">Color</label>
          <input type="text" name="color" id="color" value="red" class="text ui-widget-content ui-corner-all">
        </fieldset>
      </form>
    </div>



{%- endblock %}

{% block body_end %}
    {%- assets filters='rjsmin', output='assets/edit.js', 'js/edit.js' %}
        <script src="{{ ASSET_URL|version_url }}"></script>
    {%- endassets %}
{% endblock %}
