$grid-border: 1px solid black;
$min-height: 120px;

.main-container {
    height: 100%;

    ul {
        height: 100%;
        min-height: 40px;
        margin: 0;
        list-style-type: none;
        padding: 0;
    }

    .main-list, .container-list {
        display: flex;

        .column-container {
            height: 100%;
            width: 100%;
            border: $grid-border;

            &.view-mode {
                border-color: transparent;
            }

            .container-cc, .widget-cc {
                width: 100%;
                min-height: $min-height;
                text-align: center;
            }

            .container-cc {
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: transparent;

                .widget-icons, .container-icons {
                    float: right;
                    display: inline-block;
                    z-index: 1;

                    .ui-icon {

                        &.ui-icon-arrow-4 {
                            cursor: move;
                        }

                        &.ui-icon-trash, &.ui-icon-copy {
                            cursor: pointer;
                        }
                    }
                }

                .widget-cc {
                    position: relative;
                    margin-left: 5px;
                    margin-right: 5px;
                    border-radius: 4px;

                    .widget-icons {
                        position: absolute;
                        right: 0;
                        top: 0;
                        background-color: white;
                        border-bottom-left-radius: 4px;

                        .ui-icon {

                            &.ui-icon-arrow-4, &.ui-icon-trash, &.ui-icon-copy {
                                float: right;
                            }
                        }
                    }

                    .empty-widget-message {
                        margin-top: 50px;
                        background-color: white;
                        border-radius: 4px;
                        display: none;
                    }

                    &.box-widget {
                        background-color: white;

                        &.empty-widget {
                            background: url('http://hackathon-in-a-box.org/img/box.png') repeat center;
                        }

                        &:not(.empty-widget) {

                            &.bordered {
                                border: 2px solid black;

                                .box-title {
                                    border-bottom: 2px solid black;
                                }
                            }

                            .box-title {
                                margin: 0;
                            }

                            .box-content {
                                float: left;
                                margin-left: 30px;
                                text-align: left;
                            }
                        }
                    }

                    &.location-widget {

                        &.empty-widget {
                            background: url('http://upload.wikimedia.org/wikipedia/commons/f/f7/Soho_-_map_1.png') no-repeat center;
                            background-size: 100%;
                        }

                        .we-map-canvas {
                            min-height: 400px;

                            &.blocked {
                                z-index: -1;
                            }
                        }
                    }

                    &.people-widget {

                        &.empty-widget {
                            background: url('http://www.risk.net/IMG/315/86315/people-outline.jpg') repeat center;
                            background-size: auto 100%;
                        }
                    }
                }
            }
        }
    }
}

.modal {

    .row {
        margin-bottom: 15px;
    }
}

.tab-pane {
    margin-top: 30px;
}

.navbar {
    z-index: 10;

    &.navbar-fixed-bottom .navbar-collapse {
        margin-top: 7px;
    }

    .navbar-collapse {
        z-index: 11;
    }
}

.page-content-container {
    margin-top: 71px;
    margin-bottom: 71px;
}

.we-preview-canvas {
    min-height: 300px;
}
