
.page-header {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

$grid-border: 1px solid black;
$toolbar-color: lightblue;

.modification-toolbar {

    width: 100%;
    height: 60px;
    border: $grid-border;
    border-color: $toolbar-color;
    background-color: $toolbar-color;

    .actions, .save-discard-buttons {
        margin-top: 18px;
    }

    .actions {
        float: left;
        margin-left: 40px;
    }

    .save-discard-buttons {
        float: right;
        margin-right: 40px;

        div {
            float: left;
        }
    }

    .ui-selectmenu-button {

        span.ui-selectmenu-text {
            padding: 0 0 0 0.2em;
            line-height: initial;
        }

        span.ui-icon {
            right: 0.1em;
        }
    }
}

.modification-grid {

    .grid-row {
        width: 100%;
        height: 200px;
        border: $grid-border;
        border-bottom: 0px;

        &:last-child {
            border-bottom: $grid-border;
        }

        .grid-cell {
            float: left;
            height: 100%;

            &:not(:last-child) {
                border-right: $grid-border;
            }
        }
    }
}

.style-toolbar {
    width: 200px;
    height: 100%;
    right: 6px;
    top: 172px;
    position: fixed;
    background-color: $toolbar-color;
}

.widget-test {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    background-color: red;
    text-align: center;
    opacity: 0.6;

    &.selected {
        opacity: 1;
    }
}

.container-test {
    width: 100%;
    height: 120px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    background-color: transparent;
    border-radius: 4px;
}

.main-container {
    width: 100%;
    height: 100%;
    border: $grid-border;

    ul {
        height: 100%;
        min-height: 40px;
        margin: 0;
        list-style-type: none;
        padding: 0;
    }

    .main-list, .container-list {
        display: flex;

        .column-container {
            height: 100%;
            width: 100%;
            border: $grid-border;
        }
    }
}

.ui-icon.ui-icon-arrow-4 {
    float: right;
    cursor: move;
}

.style-dialog {
    font-size: 80%;

    label, input {
        display: block;
    }

    input.text {
        margin-bottom: 12px;
        width: 95%;
        padding: .4em;
    }

    fieldset {
        padding: 0;
        border: 0;
        margin-top: 25px;
    }
}
