$min-height: 120px;
$element-border: 2px solid black;
$grid-border: 1px solid black;
$element-border-radius: 4px;
$droppable-size: 30px;
$view-margin: 5px;
$edit-margin: $droppable-size + ($droppable-size/2);

.widget-cnt, .widget, .icons-container {

    &.on-foreground {
        background-color: white;
        z-index: 10;
    }

    &:not(.on-foreground) {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.title {
    background-color: rgba(255,255,255,0.5);
    text-align: left;
    margin: 0;
    padding: 5px;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    min-height: $min-height;
}

.widget-cnt {
    display: inline-block;
    position: relative;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;

    &:after {
        content: '';
        display: block;
    }

    > .content {
        display: flex;
    }

    &.vertical > .content {
        flex-direction: column;
    }

    &.horizontal > .content {
        flex-direction: row;

        > .widget-cnt, > .widget {
            width: 100%;
            height: 100%;
        }
    }
}

.widget > .content {
    overflow: auto;
}

.bordered {
    border-radius: $element-border-radius !important;
    border: $element-border !important;

    >.title {
        border-bottom: $element-border;
    }
}

.main-cnt {
    width: 100%;
    margin: 0 !important;
    min-height: $min-height;
}

.page-content-container.edit-mode {

    .widget-cnt, .widget {
        border: $grid-border;
        margin: $edit-margin;
    }

    .vertical > .content {

        > .widget-cnt, > .widget {
            margin-bottom: 0;

            &:last-child {
                margin-bottom: $edit-margin;
            }
        }
    }

    .horizontal > .content {

        > .widget-cnt, > .widget {
            margin-right: 0;

            &:last-child {
                margin-right: $edit-margin;
            }
        }
    }

    .icons-container {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        border-bottom-left-radius: $element-border-radius;
        z-index: 1;

        .ui-icon {
            cursor: pointer;

            &.ui-icon-arrow-4 {
                cursor: grab;
                cursor: -webkit-grab;
                cursor: -moz-grab;

                &.dragging {
                    cursor: move;
                }
            }
        }
    }

    .widget {

        .icons-container .ui-icon {
            float: right;
        }

        .empty-widget-message {
            background-color: white;
            border-radius: $element-border-radius;
            display: none;
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 330px;
            height: 20px;
        }
    }

    .droppable-area {
        display: none;
        position: absolute;
        height: $droppable-size;
        width: $droppable-size;

        &.droppable-north, &.droppable-south {
            margin: 0 auto 0 auto;
            right: 0;
            left: 0;
            width: 3 * $droppable-size;
        }

        &.droppable-north {
            top: -($edit-margin - $droppable-size/4);
        }
        
        &.droppable-south {
            bottom: -($edit-margin - $droppable-size/4);
        }

        &.droppable-east, &.droppable-west {
            margin: auto 0 auto 0;
            top: 0;
            bottom: 0;
            height: 3 * $droppable-size;
        }

        &.droppable-east {
            right: -($edit-margin - $droppable-size/4);
        }
        
        &.droppable-west {
            left: -($edit-margin - $droppable-size/4);
        }
    }
}

.page-content-container:not(.edit-mode) {

    .widget-cnt.bordered {

        > .content {

            >.widget-cnt, >.widget {
                margin: $view-margin;
            }
        }

        &.vertical > .content {

            > .widget-cnt, > .widget {
                margin-bottom: 0;

                &:last-child {
                    margin-bottom: $view-margin;
                }
            }
        }

        &.horizontal > .content {

            > .widget-cnt, > .widget {
                margin-right: 0;

                &:last-child {
                    margin-right: $view-margin;
                }
            }
        }
    }

    .widget-cnt:not(.bordered) > .content {

        >.widget-cnt, >.widget {
            margin: 0;
        }
    }

    .vertical > .content {

        > .widget-cnt, > .widget {

            &:not(:last-child) {
                margin-bottom: $view-margin;
            }
        }
    }

    .horizontal > .content {

        > .widget-cnt, > .widget {

            &:not(:last-child) {
                margin-right: $view-margin;
            }
        }
    }

    .icons-container, .droppables-container {
        display: none;
    }

    .widget .empty-widget-message {
        display: none !important;
    }
}

// -------------------------------------------------


.show-layout-button {
    margin-left: 30px;
}

.modal {

    .row:not(.no-spacing) {
        margin-bottom: 15px;
    }
}

.tab-pane {
    margin-top: 30px;
}

.navbar {
    z-index: 11;

    &.navbar-fixed-bottom .navbar-collapse {
        margin-top: 7px;
    }

    .navbar-collapse {
        z-index: 12;
    }
}

.page-content-container {
    margin-top: 71px;
    margin-bottom: 71px;
}

.we-preview-canvas {
    margin-top: 20px;
    min-height: 300px;
}

.we-people-typeahead {

    .input-group .input-group-btn {
        left: -3px;
        top: -2px;
    }

    /* Twitter Typehead styling */
    .tt-query,
    .tt-hint {
        width: 100%;
        height: 30px;
        padding: 11px 12px 8px 12px;
        font-size: 14px;
        line-height: 30px;
        border: 2px solid #ccc;
        border-radius: 8px;
        outline: none;
    }

    .tt-query {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999
    }

    .tt-dropdown-menu {
        width: 100%;
        margin-top: 12px;
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .tt-suggestion {
        padding: 3px 20px;
        font-size: 14px;
        line-height: 24px;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;

    }

    .tt-suggestion p {
        margin: 0;
    }
}

.we-people-list-preview {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.we-picture, .we-background {
    display: inline-block;
    position: relative;
    width: 100%;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;

    &:after {
        content: '';
        display: block;
        margin-top: 100%;
    }
}

.new-person-dialog, .person-dialog {
    z-index: 1051;
}

.we-picture-preview, .we-background-container {

    span.glyphicon {
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        cursor: pointer;
    }
}

.we-preview-section .we-preview-picture img {
    width: 100%;
}
